body {
    /* padding : 10px ; */
    
  }
  
  #exTab1 .tab-content {
    /* color: #3e3e3e; */
    background-color: #fffdfd;
    padding: 15px 15px;
    border: 1px solid #ccc;
    /* border-top: none; */
    margin-top: -2px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 15px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 15px 15px;
  }
  
  li {
      background: #e2e2e2;
  }
textarea {
    color: gray;
}  
.order-wrapper {
    border: solid 1px #504e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    max-width: 300px;
    height: auto;
    padding: 10px 5px;
    margin: 10px 0;
}

button {
    width: 36%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: darkgreen;
    color: white;
}

.orders-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-orders-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrapper {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.text-wrapper1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.text-wrapper-sub {
  width: 40%;
}
.text-content, .clear-btn, .clear-file, #setting-btn {
    width: 100%;
}

.clear-file, #setting-btn {
    margin: 10px 0 10px 0;
}

.tab-pane {
    min-height: 700px;
}

input[type=text] {
    min-width: 300px;
    width: 100%;
    color:black;
}
#exTab1 .nav-pills li.active{
    border-top: 2px solid green;
    border-bottom: none;
    background-color: #ffffff;
    border-left: 1px solid #d0d0d0;
    border-bottom: solid 1px;
  }
  #exTab1 .nav-pills li{
    float: left;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #bdbcbc;
    color: white;
    margin-left: 0;
  }
  #exTab1 .nav-pills li:first-child{
    border-left: 1px solid #d0d0d0;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      color: #4c4b4b;
      background: white;
  }
  table tbody tr:first-child{
      text-align: center;
      color: red;
  }

  .loading {
    background-color: rgb(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .ripple {
    width: 10rem;
    height: 10rem;
    margin: 10rem;
    border-radius: 50%;
    border: 0.3rem solid #979fd0;
    -webkit-transform: translate(50%);
    transform: translate(50%);
    -webkit-animation: 1s ripple ease-out infinite;
     animation: 1s ripple ease-out infinite;
  }


  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
      opacity: 0;
    }
  }

  